/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 40.5%;
  }
  body {
    background: red;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 45.5%;
  }
  body {
    background: green;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 50.5%;
  }
  body {
    background: blue;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 55.5%;
  }
  body {
    background: yellow;
  }
  .main_logo a img {
    height: 5rem;
    width: auto;
  }
  .main_menu {
    z-index: 1040;
    padding: 1rem;
  }
  .main_menu ul li {
    background: #fff;
    padding: 1rem 1rem;
    border-bottom: 0.1rem solid rgba(17, 26, 32, 0.35);
    border-left: 0.3rem solid black;
    border-right: 0.3rem solid black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .main_menu ul li:hover {
    border-left: 0.7rem solid red;
    border-right: 0.7rem solid red;
    border-radius: 0.5rem;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .main_menu ul li:hover a {
    color: #000;
  }
  .main_menu ul li a {
    color: #000;
    font-size: 1.8rem;
  }
  .main_menu ul li span {
    font-size: 2rem;
    font-weight: 700;
    float: right;
    margin-right: 1rem;
  }
  .main_menu .main__submenu {
    display: none;
    margin: 1rem;
    transition: all 0.4s;
  }
  .main_menu .main__submenu ul li {
    position: relative;
    background: white;
    display: block;
    transition: all 0.4s;
  }
  .main_menu .main__submenu ul li:hover {
    background: none;
  }
  .main_menu .main__submenu ul li:hover a {
    color: red;
  }
  .main_menu .main__submenu ul li a {
    font-size: 1.8rem;
    color: #000;
    text-transform: capitalize;
  }
  .main_menu .main__submenu ul li:last-child {
    border-bottom: none;
  }
  .accordion-toggle.active {
    color: red;
    display: block;
    padding: 1rem 0rem;
    margin-left: 0;
  }
  .accordion-toggle {
    transition: ease-in-out 0.4s;
  }
  .main__menu {
    background: #fff;
    padding: 2rem 0rem;
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -100%;
    transition: 0.45s all;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .shoow {
    background: #fff;
    padding: 2rem 0rem;
    width: 40rem;
    height: 100vh;
    position: fixed;
    right: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.45s all;
  }
  .navbar-toggler {
    font-size: 2rem;
    color: #fff;
  }
  .navbar-toggler span {
    color: #fff;
  }
  .toggle_close {
    display: none;
  }
  .mega_menu {
    display: none;
  }
  .mega_menu_li ul h4 {
    color: red;
    text-align: center;
    padding: 1.2rem 0rem;
    text-transform: capitalize;
  }
  .submenu {
    display: none;
    transition: 0.4s all;
  }
  .quick_button {
    justify-content: center;
    justify-items: center;
    display: flex;
    height: 8rem;
    line-height: 80px;
  }
  .quick_button ul li {
    display: inline-block;
  }
  .quick_button ul li a {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
    padding: 1rem 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin: 0rem 0.3rem;
    background: rgb(34, 114, 235);
    border-radius: 0.8rem;
    color: #fff;
  }
  .quick_button ul li a:hover {
    background: #000;
  }
  .header__top {
    background: #011a41;
  }
  .header__top .contact_side {
    justify-content: start;
    justify-items: center;
    align-items: center;
  }
  .header__top .contact_side ul li {
    display: inline-block;
    padding: 1rem 1.5rem;
  }
  .header__top .contact_side ul li a {
    font-size: 1.6rem;
    color: #fff;
  }
  .header__top .contact_side ul li span {
    color: #e93c05;
    font-size: 1.7rem;
    padding-right: 0.5rem;
  }
  .header__top .social__side {
    justify-content: end;
    justify-items: end;
    text-align: center;
  }
  .header__top .social__side ul li {
    display: inline-block;
    padding: 1rem 1rem;
  }
  .header__top .social__side ul li a {
    font-size: 1.8rem;
    color: #fff;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  body {
    background: #fff;
  }
  #mobile_nav {
    display: none;
  }
  .header__top {
    background: #011a41;
  }
  .header__top .contact_side {
    justify-content: start;
    justify-items: center;
    align-items: center;
  }
  .header__top .contact_side ul li {
    display: inline-block;
    padding: 1rem 1.5rem;
  }
  .header__top .contact_side ul li a {
    font-size: 1.6rem;
    color: #fff;
  }
  .header__top .contact_side ul li span {
    color: #e93c05;
    font-size: 1.7rem;
    padding-right: 0.5rem;
  }
  .header__top .social__side {
    justify-content: end;
    justify-items: end;
    float: right;
  }
  .header__top .social__side ul li {
    display: inline-block;
    padding: 1rem 1rem;
  }
  .header__top .social__side ul li a {
    font-size: 1.8rem;
    color: #fff;
  }
  .main__menu {
    background: #fff;
    height: 8rem;
    position: sticky !important;
    top: 0;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .main__menu .main_logo img {
    height: 7.5rem;
    width: auto;
  }
  .main__menu .main_menu {
    justify-content: center;
    justify-items: center;
    display: flex;
    height: 8rem;
    line-height: 80px;
  }
  .main__menu .main_menu ul li {
    display: inline-block;
  }
  .main__menu .main_menu ul li a {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
    padding: 1rem 1.4rem;
    margin: 0rem 0.3rem;
    transition: 0.35s all;
  }
  .main__menu .main_menu ul li a:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: rgb(34, 114, 235);
    border-radius: 0.8rem;
    color: #fff;
  }
  .main__menu .main_menu ul li .mega_menu {
    position: absolute;
    left: 10%;
    width: 80%;
    height: auto;
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
    /* Add opacity: 0; to start the animation from fully transparent */
    animation: megamenu 0.35s linear;
  }
  @keyframes megamenu {
    0% {
      opacity: 0;
      left: 100%;
    }
    100% {
      opacity: 1;
      left: 10%;
    }
  }
  .main__menu .main_menu ul li .mega_menu_part {
    justify-content: space-between;
    display: flex;
  }
  .main__menu .main_menu ul li .mega_menu_li {
    margin: 1rem;
  }
  .main__menu .main_menu ul li .mega_menu_li h4 {
    color: red;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    margin-bottom: 10px;
  }
  .main__menu .main_menu ul li .mega_menu_li li {
    display: block;
    line-height: 40px;
    padding: 0rem 1rem;
    transition: all 0.4s;
  }
  .main__menu .main_menu ul li .mega_menu_li li:hover {
    background: transparent;
  }
  .main__menu .main_menu ul li .mega_menu_li li a {
    font-size: 1.8rem;
    color: #000;
    text-transform: capitalize;
  }
  .main__menu .main_menu ul li .mega_menu_li li a:hover {
    background: none;
    border-left: 0.5rem solid red;
  }
  .main__menu .main_menu ul li .mega_menu_li li span {
    font-size: 1.8rem;
    color: green;
  }
  .main__menu .main__submenu {
    position: absolute;
    min-width: 25rem;
    height: auto;
    background: #fff;
    padding: 1rem;
    display: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  .main__menu .main__submenu ul li {
    position: relative;
    display: block;
    line-height: 3px;
    background: #fff;
    border-bottom: 0.1rem solid rgba(17, 26, 32, 0.35);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    transition: 0.4s all;
  }
  .main__menu .main__submenu ul li:hover {
    border-left: 0.5rem solid red;
    border-right: 0.5rem solid red;
    margin: 1rem 1rem;
  }
  .main__menu .main__submenu ul li:hover a {
    color: red;
  }
  .main__menu .main__submenu ul li:hover .submenu {
    position: absolute;
    width: 20rem;
    right: -85%;
    display: block;
    top: 0;
    background: #fff;
    z-index: 1;
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  .main__menu .main__submenu ul li a {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
    margin: 0rem;
    transition: 0.35s all;
    padding: 2rem 2rem;
    display: block;
  }
  .main__menu .main__submenu ul li a:hover {
    background: none;
  }
  .main__menu .main__submenu ul li span {
    font-size: 1rem;
    float: right;
    margin: 0;
  }
  .main__menu .main__submenu .submenu {
    position: absolute;
    top: 0;
    width: 20rem;
    right: -85%;
    display: none;
    background: transparent;
    z-index: 1;
  }
  .quick_button {
    justify-content: end;
    justify-items: center;
    display: flex;
    height: 8rem;
    line-height: 80px;
  }
  .quick_button ul li {
    display: inline-block;
  }
  .quick_button ul li a {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
    padding: 1rem 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin: 0rem 0.3rem;
    background: rgb(34, 114, 235);
    border-radius: 0.8rem;
    color: #fff;
  }
  .quick_button ul li a:hover {
    background: #000;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

p {
  color: #000;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.8rem;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.banner_section_comon {
  background: rgb(27, 16, 16);
}

.banner_section {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.banner_section h1 {
  align-items: center;
  transform: translate(0, 50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.fixed {
  background: #fff;
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  z-index: 1040;
}

#footer_bg_image {
  background-image: url(../img/footer_bg_image.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
#footer_bg_image .footerbg {
  background: rgba(1, 26, 65, 0.85);
  padding: 8rem 0rem;
}
#footer_bg_image .footer_top {
  background: transparent;
  border-bottom: 1px solid #e93c05;
  padding-bottom: 2rem;
}
#footer_bg_image .footer_top h1 {
  font-size: 4.5rem;
  color: #fff;
  font-weight: 700;
}
#footer_bg_image .footer_top h1 ::after {
  content: "";
  height: 0.2rem;
  width: 8rem;
  background: #e93c05;
  display: block;
}
#footer_bg_image .footer_top h1 span {
  color: #e93c05;
}
#footer_bg_image .footer_top p {
  color: #fff;
  text-align: justify;
}
#footer_bg_image .footer_content {
  background: transparent;
  justify-content: start;
  padding: 2rem 0rem;
}
#footer_bg_image .footer_content .footer_logo img {
  height: 10rem;
  width: auto;
}
#footer_bg_image .footer_content .address a {
  color: #fff;
  transition: 0.35s all;
}
#footer_bg_image .footer_content .address a:hover {
  color: red;
}
#footer_bg_image .footer_content .footer_menu_titme h4 {
  color: #e93c05;
  text-transform: capitalize;
}
#footer_bg_image .footer_content .footer_menu_titme h4::after {
  content: "";
  height: 0.2rem;
  width: 3rem;
  background: #e93c05;
  display: block;
}
#footer_bg_image .footer_content .footer_menu ul li {
  display: block;
  margin: 1rem;
  transition: 0.35s all;
}
#footer_bg_image .footer_content .footer_menu ul li:hover {
  padding-left: 1rem;
}
#footer_bg_image .footer_content .footer_menu ul li:hover a {
  color: #e93c05;
}
#footer_bg_image .footer_content .footer_menu ul li:hover span {
  color: #fff;
}
#footer_bg_image .footer_content .footer_menu ul li a {
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
}
#footer_bg_image .footer_content .footer_menu ul li span {
  color: #e93c05;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.copyright {
  text-align: center;
  padding: 1rem 0rem;
}
.copyright p {
  color: #fff;
}

body {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */